body{
    margin: 0px;
    display: flex;
    position: relative;
}

a{
    text-decoration: none;
    color: inherit;
}

#body{
    width: 80%;
    height: 100vh;
    background-color: rgb(223, 223, 223);
    margin-left: 20%;
}

#menu {
    width: 20%;
    height: 100vh;
    background-color: rgb(255, 115, 0);
    position: fixed;
    top: 0;
    left: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-label-div{
    width: 100%;
}

.order-label{
    color: rgb(255, 255, 255);
    font-weight: 500;
    border-radius: 10px;
    padding: 7px;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 14px;
    margin-right: 14px;
    cursor: pointer;
}

.fecha-div{
    display: flex;
}

.fecha-1{
    color: rgb(255, 255, 255);
    font-weight: 500;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 7px;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 14px;
    cursor: pointer;
}

.fecha-2{
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 7px;
    padding-left: 13px;
    padding-right: 13px;
    cursor: pointer;
}

.fecha-3{
    color: rgb(255, 255, 255);
    font-weight: 500;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 7px;
    padding-left: 13px;
    padding-right: 13px;
    cursor: pointer;
}


.filtros{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.filtro{
    color: rgb(255, 255, 255);
    font-weight: 500;
    border-radius: 10px;
    padding: 7px;
    padding-left: 13px;
    padding-right: 13px;
    margin-right: 20px;
    cursor: pointer
}

.filtro-no-seleccionado{
    background-color: rgb(135, 135, 135);
}

.filtro-seleccionado{
    background-color: rgb(255, 115, 0);
}

.agreagarIcon{
    font-size: 100pt;
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    color: rgb(42, 85, 255);
}

.container-order{
    width: 85%;
    border-radius: 30px;
    background-color: #f5f5f5;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}